%nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "/"}
    %img.d-inline-block.align-top{:alt => "", :height => "30", :src => "/logopri.svg", :width => "30"}>/
    CDE Hidalgo
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "/"}
          Municipios
          %span.sr-only (current)
      %li.nav-item.dropdown
        %span.sr-only (current)
        %a#responsiveNavbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""} Distritos
        .dropdown-menu{"aria-labelledby" => "responsiveNavbarDropdown"}
          %a.dropdown-item{:href => "/locals"} Locales
          %a.dropdown-item{:href => "/federals"} Federales
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
    %ul.nav.navbar-nav.float-lg-right
      %li.nav-item.nav-link.btn
        = link_to "Log out", root_path, method: :delete
      %li.nav-item.nav-link.btn
        = link_to "Sign In", root_path
    %form.form-inline.mt-2.mt-md-0
      %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
